@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #7166E3, #C4ABE8);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #284577c7;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #E366D3;
    text-align: center;
    text-shadow: 2px 1px 2px #a14795;
}

h2 {
    color: #9A66E3;
    text-align: left;
}